.newUserForm {
    /* outline: 1px solid black; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    border-radius: 2vh;
    background-color: white;
}

.newUserForm h1 {
    text-align: center;
}

label {
    font-size: 1.2em;
}

input,
select,
button {
    font-size: 1.2em !important;
}

.newUserForm .text-danger {
    font-size: 1.1em !important;
}